#main {
    width: 80%;
    overflow: hidden;
    margin: 50px auto 0 auto;
}

#main h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
}

#main .machine {
    width: 200px;
    height: 110px;
    display: flex;
    background-color: #eee;
    transform: perspective(10px) rotateX(1deg);
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto 30px;
}

#main .screen {
    width: 95px;
    height: 70px;
    background-color: #888;
}

#main .keyboard {
    width: 60px;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#main .keyboard .blank {
    width: 20px;
    height: 20px;
    background-color: white;
}

#main .keyboard .correct {
    width: 20px;
    height: 20px;
    background-color: rgb(234, 133, 79);
}

#main .keyboard .confirm {
    width: 20px;
    height: 20px;
    background-color: rgb(85, 153, 74);
}

#questions {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#questions .badge {
    margin: 10px;
    font-size: 1em;
    line-height: 1.3em;
}

#questions .badge a {
    text-decoration: none;
    color: white;
}

#answers .accordion-body {
    line-height: 1.8em;
}

footer {
    text-align: center;
    margin: 50px auto;
}

@media (max-width: 640px) {
    #main {
        width: 90%;
    }
    #questions {
        margin: 10px;
    }    
    #questions .badge {
        margin: 10px;
        font-size: 1.2em;
        line-height: 1.6em;
    }
}